<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add MutualFunds</title>
    <style>
        .btn{
            text-decoration: none;
            text-align: center;
            padding-inline: 10px;
            background-color: green;
            color: white;
        }
        label{
            color: darkblue;
        }
    </style>
</head>
<body>
    <form action="{{url_for('add_mutual')}}" method="POST">
        <label for="" name="name">Name</label>
        <input type="text" name="name"> 
        <label for="" name="name">schemecode</label>
        <input type="text" name="schemecode"> 
        <label for="" name="name">nav</label>
        <input type="number" name="nav"> 
        <label for="" name="name">units</label>
        <input type="number" name="units">
        <input type="submit" value="Add MutualFunds" class="btn"> 
    </form>
    
</body>
</html>